main {
  min-height: 80vh;
  
}

h3 {
  font-family: 'Dancing Script', cursive;
  padding: 1rem 0;
}

h1 {
  font-family: 'Dancing Script', cursive;
  font-size: 1.8rem;
  padding: 1rem 0;
}

h2 {
  font-family: 'Dancing Script', cursive;
  font-size: 1.4rem;
  padding: 0.5rem 0;
}

.rating span {
  margin: 0.1rem;
}

/* carousel */
.carousel {
  border: #fff;
}
.carousel-item-next,
.carousel-item-prev,
.carousel-item.active {
  display: flex;
}
.carousel-caption {
  position: absolute;
  top: 0;
}

.carousel-caption h2 {
  color: #343a40;
}

.carousel img {
  height: 300px;
  padding: 30px;
  margin: 40px;
  border-radius: 50%;
  margin-left: auto;
  margin-right: auto;
}
.carousel a {
  margin: 0 auto;
}
@media (max-width: 900px) {
  .carousel-caption h2 {
    font-size: 2.5vw;
  }
}

.carousel-indicators li {
  background-color: darkgray; 
}
.carousel-control-next,
.carousel-control-prev /*, .carousel-indicators */ {
    filter: invert(100%);
}

.navbar {
  font-family: 'Dancing Script', cursive;
}

.color-nav {
  color: black;
  background-color: white;
}

.navbar-toggler-icon {
  
color: white;

} 
.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3E%3Cpath stroke='rgba(0, 0, 0, 0.5)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E")
}

